.footer {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #222;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: auto;
    border-top: 1px solid #999;

    p {
        color: #fff;
    }
}